a[href="/explore"],
a[href="/jobs"],
a[href="/i/grok"],
a[href="/i/monetization"],
a[href="/i/premium_sign_up"],
a[href="/i/spaces/start"],
a[href="/i/verified-orgs-signup"],
a[href="https://ads.x.com/?ref=gl-tw-tw-twitter-ads-rweb"],
a[href$="/communities"],
a[href$="/lists"],
div[data-testid="TopNavBar"]+div,
div[data-testid=super-upsell-UpsellButtonRenderProperties],
div[role=group] > div:nth-child(4),
header>div {
  display:none;
}
header {
  z-index:0 !important;
  height:7rem !important;
}
