div[id="full-bleed-container"] {
  max-height:100vh !important;
}
div.style-scope.ytd-watch-flexy {
  min-width:0 !important;
}
ytd-watch-flexy[flexy] {
  position:relative;
  top:-56px;
}
ytd-watch-flexy[fullscreen] {
  top:0px;
}
