/* ==UserStyle==
@name           Twitter No Slop
@description    Twitter.
@version        1.0.0
@author         https://github.com/ruukulada
@namespace      https://github.com/ruukulada
==/UserStyle== */
@-moz-document domain("x.com") {
  a[href="/jobs"],
  a[href="/i/grok"],
  a[href="/i/monetization"],
  a[href="/i/premium_sign_up"],
  a[href="/i/spaces/start"],
  a[href="/i/verified-orgs-signup"],
  a[href="https://ads.x.com/?ref=gl-tw-tw-twitter-ads-rweb"],
  a[href$="/communities"],
  a[href$="/lists"],
  button[aria-label^="Subscribe to @"],
  button[aria-label="Grok actions"],
  div[aria-label="Timeline: Trending now"] > div > div:nth-child(n+4):nth-child(-n+4),
  div[data-testid=cellInnerDiv]:has(> div > div > div[data-testid=placementTracking]),
  div[data-testid=super-upsell-UpsellButtonRenderProperties],
  div[data-testid=TopNavBar] + div,
  div:has(> a[aria-label$="View post analytics"]),
  div:has(> div > div[data-testid=super-upsell-UpsellCardRenderProperties]),
  header > div {
    display: none;
  }
  header {
    z-index: 0 !important;
    height: 6.929rem !important;
  }
  article {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
  article * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  article > :first-child > :first-child > :first-child > :first-child > :first-child {
    padding-top: 0.25rem !important; /* tweet top */
  }
  div:has(> div > div > div > div > div[data-testid=User-Name]) {
    padding-bottom: 0.25rem !important; /* tweet bottom */
  }
}
