/* ==UserStyle==
@name           Google Apps Dark
@description    Gmail,Translate,Voice.
@version        1.0.0
@author         https://github.com/ruukulada
@namespace      https://github.com/ruukulada
==/UserStyle== */

@-moz-document domain("mail.google.com"),
domain("translate.google.com"),
domain("voice.google.com") {
  @media (prefers-color-scheme: dark) {
    body {
      filter: invert(1) hue-rotate(180deg) contrast(0.8);
    }
    img {
      filter: invert(1) hue-rotate(180deg);
    }
    * {
      text-shadow: 0 0 1px;
    }
  }
}
@-moz-document domain("mail.google.com") {
  @media (prefers-color-scheme: dark) {
    .yO {
      background: #eaeaea;
    }
    .aps {
      background: rgb(210, 227, 252);
    }
  }
}
