/* ==UserStyle==
@name           YouTube Theatre
@description    YouTube.
@version        1.0.0
@author         https://github.com/ruukulada
@namespace      https://github.com/ruukulada
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/watch?v=") {
  @import "src/youtubetheatre";
  div[id=masthead-container] {
    opacity:0%;
    &:hover {
      opacity:100%;
    }
  }
}
@-moz-document domain("www.youtube.com") {
  div[id=masthead-container] {
    opacity:100%;
  }
}
