/* ==UserStyle==
@name           RuukuLada Office
@version        1.0.0
@description    Outlook, Teams.
@author         https://github.com/ruukulada
@namespace      https://github.com/ruukulada
==/UserStyle== */

@-moz-document domain("outlook.office.com"),
domain("teams.microsoft.com") {
  *:not(code, i, pre) {
    font-family: 'Roboto Flex', sans-serif;
  }
}

@-moz-document domain("outlook.office.com") {
  div[aria-label="Message list"] {
    max-width: 25vw;
  }
  div:has(>div[aria-label="Message list"]) {
    max-width: 25vw;
  }
  div[aria-label="Navigation pane"] {
    max-width: 15vmin;
  }
}
